.header {
  display: flex;
  padding-top: 15px;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background-color: #fff;
  width: 100%;
  top: 0;
  z-index: 1;
}
.header-icon {
  object-fit: contain;
  height: 75px;
  margin-left: 15px;
}
.header-mid {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: fit-content;
}
.header-mid > input {
  border: none;
  outline: none;
  padding: 10px;
  width: 275px;
  background-color: whitesmoke;
}
.header-right {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.header-right > p {
  margin-right: 15px;
}
