.searchResult {
  display: flex;
  position: relative;
  margin: 20px;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
  cursor: pointer;
}
.searchResult:hover {
  opacity: 0.8;
}
.searchResult > img {
  height: 200px;
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
}
.searchResult-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}
.heart-icon {
  position: absolute;
  top: 20px;
  right: 40px;
}

.searchResult-infoTop {
  width: 40vw;
}
.searchResult-info > button {
  border-radius: 30px;
  text-transform: inherit;
  margin-top: 10px;
}
.searchResult-infoTop > p {
  margin-top: 10px;
  font-size: 13px;
  color: gray;
}
.searchResult-star {
  display: flex;
  align-items: center;
}
.star-icon {
  color: red;
}
.searchResult-price {
  position: absolute;
  bottom: 20px;
  right: 30px;
}
.searchResult-price > p {
  text-align: right;
}
